.cointaners {
    margin: 0% auto;
    background-color: rgba(217, 217, 217, 1);
    width: 80%;
    border-radius: 15px;   
    margin-top: 5%;       
    padding-top: 2%; 
}

h2.capter {
    font-family: Josefin;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    
}

.halaman-1 {
    text-align: center;
}

p.isicapter {
    margin: 60px;
    font-size: 24px;
    text-align: justify;
    padding: 10px;
}

@media screen and (min-width: 350px) and (max-width: 450px){
    .cointaners {
        width: 98%;
        padding-left: 2% !important;
        padding-right: 2% !important;
    }
    p.isicapter {
        margin: 0;
    }
}